@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: White; ">
    <div style=" padding:20px;">
        <h2 class="text-danger">
            Ha ocurrido un error revise los detalles
        </h2>
        <h3 class="text-info">
            @TempData["error"]
        </h3>
        <h4 class="text-warning">
            lo siento mucho, el error ocurrido impidio procesar su solicitud
        </h4>
        <h6>@Html.ActionLink("Ir a la pagina de inicio", "Index", "Home")</h6>
        <h6><a href="@TempData["retornarAlUrl"]">Retornar donde ocurrio el error </a></h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>  