<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!--Dev-->
    <add name="DataServer" connectionString="SxYcBZsNj3TAZ+5rM0BUGKvzb3pz15akFIaiC/u7Ez103C3fV3WhXwuDJplKvx2i3gdnmomakZMuy2s7SWJQWgTvyYX0L+L9BQngDZyIwoDv6lyNLthKWkzB+tL5LSbj3oRAVOZGtwUH+yOz7Cg2XXP6bRgDyzOZVsszwGZ9rRq3+BsDKkimfNvH2LXXF7B+"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>