@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEMOSTRACION DE PC PROG</h1>
    <p class="lead">aqui explicamos brevemente los conceptos del proyecto de base de datos de sql server, los proyectos de prueba y el uso de la libreria DataBase para acceso a Datos dentro del BLL donde se maneja la logica principal.</p>
    <p><a href="/personas" class="btn btn-primary btn-lg">Ir al listado de personas &raquo;</a></p>
</div>

